.infoItem
  padding: 13px 0
  font-size: 15px
  & + .infoItem
    border-top: 2px solid #ddd
  .infoText
    line-height: 1.5
    & + .infoText
      margin-top: 10px

.infoListItem
  padding: 13px 0 2px 15px
  font-size: 13px
  .listIcon
    font-size: 12px
    margin-right: 5px 
    margin-bottom: -2px