@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap')
.pricingContainer
  padding: 50px 15px
  
.pricingFor
  font-size: 38px
  font-family: Raleway, sans-serif
  font-weight: 700
  color: #555
  padding: 40px 15px 50px 40px
  label
    display: flex
    align-items: center
    gap: 15px

.priceSelector
  width: max-content
  position: relative
  select
    cursor: pointer
    color: white
    font-weight: inherit
    border: 1px solid #bfbfbf
    border-radius: 4px
    width: auto
    max-width: 400px
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    padding: 5px 10px
    option
      font-size: 15px
      color: #666
      padding: 5px 0
      background-color: white


    -moz-appearance: none
    -webkit-appearance: none
    appearance: none
    background-color: #28d2d0
  &::after
    font-size: 30px
    position: absolute
    z-index: 100
    top: 50%
    right: 30px
    transform: translateY(-50%)
    color: white
    font-family: "Font Awesome 5 Free"
    content: "\f078"
    display: inline-block
    padding-right: 3px
    width: 12px